.SettingsModal{
  z-index: 1000000000;
}

.SettingsModal .header {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.SettingsModal dl{
  margin: 0;
}

.SettingsModal dl:nth-child(n+1){
  margin-top: 10px;
}

.SettingsModal dt{
  font-size: 15px;
  padding-bottom: 5px;
}

.SettingsModal dd{
  margin: 0;
  font-size: 13px;
}

.SettingsModal .body {
  padding-top: 15px;
}

.SettingsModal .body p{
  margin-top: 0;
  font-size: 14px;
}

.SettingsModal .rodal-cancel-btn, .rodal-confirm-btn {
  position: absolute;
  font: inherit;
  font-family: Monaco, "source-han-sans-japanese", sans-serif;
  bottom: 16px;
  width: 80px;
  padding: 4px 15px;
  border-radius: 3px;
  transition: background .2s;
  border: 1px solid #03a9f4;
  cursor: pointer;
}

.SettingsModal .rodal-confirm-btn {
  color: #fff;
  right: 20px;
  background: #03a9f4;
}

.SettingsModal .rodal-confirm-btn:hover {
  background: #0098e3;
}

.SettingsModal .rodal-cancel-btn {
  color: #03a9f4;
  right: 16px;
  background: #fff;
}

.SettingsModal .rodal-cancel-btn:hover {
  background: #fafafa;
}

.SettingsModal .rodal-cancel-btn:focus, .rodal-confirm-btn:focus {
  outline: none;
}

.SettingsModal .rodal-confirm-btn:active {
  background: #0087d2;
}

.SettingsModal .rodal-cancel-btn:active {
  background: #fafafa;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.2),0 0 1px transparent;
}

.SettingsModal .url{
  width: calc(100% - 12px);
  height: 30px;
  padding: 0 5px;
  margin: 0;
  border: solid 1px #e5e5e5;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  font-size: 14px;
}
