.Explorer{
  position: fixed;
  z-index: 100000000000000;
  top: 0;
  right: 0;
  width: 230px;
  height: 100%;

  color: #0366d6;
  background-color: #fff;
  -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);

  font-weight: bold;
  font-family: sans-serif;
  border-left: 1px solid rgb(221, 221, 221);
  transform: translate(230px, 0);
  transition: transform 0.2s ease-out;
}

.Explorer.is-open{
  transform: translate(0, 0);
}

.Explorer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.Explorer ul li{
  padding: 15px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.Explorer ul li:hover{
  background: #EEEEEE;
}

.Explorer .close{
  text-align: right;
  color: #333;
  font-size: 16px;
}

.Explorer .NoteName{
  font-size: 14px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.Explorer .NoteName .fa{
  width: 20px;
  display: inline-block;
}

.Explorer .NoteName .NoteNameBody{
  flex: 1;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.Explorer .uuid{
  font-size: 12px;
}
