.Linter{
  width: calc(100% - 30px);
  height: 150px;

  padding: 15px;

  color: #fff;
  background: #000;
  font-family: Monaco, "source-han-sans-japanese", sans-serif;
}

.Linter ul{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow: auto;
}

.Linter li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2px;
}

.Linter li .error-line{
  width: 80px;
  padding-right: 10px;
}

.Linter li .error-body{
  flex:1;
  padding: 0 10px;
}

.Linter li .error-type{
  width: 350px;
  padding-left: 10px;
}

.Linter li.warning{
  color: #FDC70D;
}

.Linter li.error{
  color: #EA291E;
  font-weight: bold;
}
