.Navigation{
  position: absolute;
  top: 0;
  right: -100px;
  width: 60px;
  height: calc(100% - 200px);
  z-index: 1000;
  padding-left: 100px;

  pointer-events: none;
  transition: right 0.3s ease-out, padding-left 0.3s ease-out;
}

.Navigation{
  right: 0;
  padding-left: 0;
}

.Navigation ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  pointer-events: none;
}

.Navigation ul li{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #555;
  border-bottom: solid 1px #333;
  pointer-events: all;
}

.Navigation ul li:first-of-type{
  border-radius: 4px 0 0 0 / 4px 0 0 0;
}

.Navigation ul li:last-of-type{
  border-radius: 0 0 0 4px / 0 0 0 4px;
  border-bottom: 0;
}

.Navigation .fa{
  color: #f0f0f0;
}

.Navigation li:hover{
  background: #333;
}

.Navigation li:hover .fa{
  color: #fff;
}
